<template>
  <v-app id="inspire">
    <app-drawer v-model="drawer"></app-drawer>
    <app-collumn-heads></app-collumn-heads>
    <app-tool-bar @drawer="drawer = !drawer"></app-tool-bar>
    <app-content></app-content>
    <app-footer></app-footer>
  </v-app>
</template>

<script>
// @ is an alias to /src
import AppToolBar from '@/components/home_components/AppToolBar.vue'
import AppDrawer from '@/components/home_components/AppDrawer.vue'
import AppContent from '@/components/home_components/AppContent.vue'
import AppFooter from '@/components/home_components/AppFooter.vue'
import AppCollumnHeads from '@/components/home_components/AppCollumnHeads.vue'
import { mapActions } from 'vuex'
export default {
  data() {
    return {
      drawer: true,
    }
  },
  methods: {
    ...mapActions(['getInstruments', 'getFilters', 'getUserCredentials']),
  },
  created() {
    this.getUserCredentials()
    this.getInstruments()
    this.getFilters()
  },
  components: {
    AppToolBar,
    AppDrawer,
    AppContent,
    AppFooter,
    AppCollumnHeads,
  },
}
</script>
