<template>
  <v-app class="green lighten-1">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center row>
          <v-flex xs12 sm10 md5 lg4>
            <v-card light>
              <v-card-title class="display-2 font-weight-bold text-xs-center justify-center py-4">
                Instrument Inventory
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text>
                <v-layout row align-center justify-center wrap>
                  <v-flex xs12>
                    <v-alert :value="alert" type="error" icon="warning" transition="scale-transition">
                      {{ message }}
                    </v-alert>
                  </v-flex>
                  <v-flex px-4 xs12>
                    <v-text-field
                      prepend-icon="person"
                      v-model="username"
                      placeholder="Username"
                      hide-details
                      type="text"
                      @keypress.enter="login()"
                    ></v-text-field>
                  </v-flex>
                  <v-flex py-3 px-4 xs12>
                    <v-text-field
                      prepend-icon="lock"
                      v-model="password"
                      placeholder="Password"
                      :append-icon="show ? 'visibility_off' : 'visibility'"
                      :type="show ? 'text' : 'password'"
                      name="input-10-2"
                      hint="At least 8 characters"
                      @click:append="show = !show"
                      hide-details
                      @keypress.enter="login()"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions class="pa-4">
                <v-btn color="success" @click="login()">Sign In</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Cookies from 'js-cookie'
import { mapActions } from 'vuex'
export default {
  data() {
    return {
      message: '',
      alert: false,
      show: false,
      username: '',
      password: '',
    }
  },
  watch: {
    alert(val) {
      if (val) {
        setTimeout(() => {
          this.alert = false
        }, 5000)
      }
    },
  },
  methods: {
    ...mapActions(['userLogin']),
    login() {
      if (this.username.trim() == '' || this.password.trim() == '') {
        this.message = 'Field is required!'
        this.alert = true
        return false
      }
      this.userLogin({ username: this.username, password: this.password })
        .then(res => {
          if (res.status == 200 && res.data.message == 'Auth successful') {
            Cookies.set('token', res.data.token, { expires: 1, path: '/' })
            Cookies.set('user_credentials', res.data.credential, { expires: 1, path: '/' })
            Cookies.set('user_details', res.data.details, { expires: 1, path: '/' })
            this.$router.go({ name: 'home' })
          }
        })
        .catch(error => {
          // console.log(res.data.message)
          this.message = 'Username or Password does not exist!'
          this.alert = true
          console.log(error)
        })
    },
    enter(event) {
      if (event == 13) this.login()
    },
  },
}
</script>
