<template>
  <v-menu transition="slide-y-transition" bottom left offset-y>
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" small flat icon color="teal lighten-5">
        <v-icon>mdi-settings</v-icon>
      </v-btn>
    </template>
    <v-list dense>
      <template v-for="(item, i) in items">
        <v-list-tile :key="i" @click="settings(item.title)">
          <v-list-tile-title class="text-xs-right">{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </template>
    </v-list>
  </v-menu>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      items: [{ title: 'Manage Accounts' }, { title: 'Dropdown Items' }],
    }
  },
  computed: {
    ...mapState(['userDetails']),
  },
  methods: {
    settings(name) {
      switch (name) {
        case 'Manage Accounts':
          break
        case 'Dropdown Items':
          break
      }
    },
  },
  components: {},
}
</script>

<style></style>
