<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" lazy width="500" persistent>
      <template v-slot:activator="{ on }">
        <span v-on="on" class="py-2 pl-2"> Change Password </span>
      </template>
      <v-card>
        <v-toolbar dense dark flat color="light-green darken-3">
          <v-toolbar-title class="title">Change Password</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <v-layout row wrap px-3>
            <v-flex xs12>
              <v-text-field
                :append-icon="show1 ? 'visibility' : 'visibility_off'"
                :rules="[rules.required, rules.valid]"
                :type="show1 ? 'text' : 'password'"
                v-model="curpass"
                name="input-10-2"
                label="Current Password"
                hint="your current password"
                class="input-group--focused"
                @click:append="show1 = !show1"
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                :append-icon="show2 ? 'visibility' : 'visibility_off'"
                :rules="[rules.required, rules.min]"
                :type="show2 ? 'text' : 'password'"
                v-model="newpass"
                name="input-10-2"
                label="New Password"
                hint="At least 8 characters"
                class="input-group--focused"
                @click:append="show2 = !show2"
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                :append-icon="show3 ? 'visibility' : 'visibility_off'"
                :rules="[rules.required, rules.match]"
                :type="show3 ? 'text' : 'password'"
                v-model="newpass1"
                name="input-10-2"
                label="Retype New Password"
                hint="At least 8 characters"
                class="input-group--focused"
                @click:append="show3 = !show3"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat color="indigo" @click="save()">Save</v-btn>
          <v-btn flat color="orange" @click="close_click()">Cancel</v-btn>
        </v-card-actions>
      </v-card>
      <v-snackbar v-model="snackbar" right :color="color" :timeout="6000">
        {{ message }}
        <v-btn dark flat @click="snackbar = false">
          Close
        </v-btn>
      </v-snackbar>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  data() {
    return {
      message: '',
      color: '',
      snackbar: false,
      dialog: false,
      show1: false,
      show2: false,
      show3: false,
      curpass_valid: true,
      curpass: '',
      newpass: '',
      newpass1: '',
      rules: {
        required: v => !!v || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
        match: () => this.matchpass || 'new password not match',
        valid: () => this.curpass_valid || 'Incorrect Password',
      },
    }
  },
  methods: {
    ...mapActions(['postNewPassword']),
    save() {
      this.postNewPassword({ curpass: this.curpass, username: this.userDetails.username, newpassword: this.newpass })
        .then(result => {
          if (result.data.status == 'success') {
            this.message = result.data.message
            this.color = 'success'
            this.snackbar = true
            setTimeout(() => {
              this.curpass = ''
              this.newpass = ''
              this.newpass1 = ''
              this.close_click()
            }, 2000)
          } else if (result.data.status == 'failed') {
            this.curpass_valid = false
            this.color = 'error'
            this.message = result.data.message
            this.snackbar = true
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    close_click() {
      this.dialog = false
      this.show1 = false
      this.show2 = false
      this.show3 = false
      this.curpass = ''
      this.newpass = ''
      this.newpass1 = ''
    },
  },
  props: {
    value: {
      default: false,
      type: Boolean,
    },
  },
  computed: {
    ...mapState(['userDetails']),
    matchpass() {
      if (this.newpass === this.newpass1) {
        return true
      } else {
        return false
      }
    },
  },
}
</script>

<style></style>
