<template>
  <v-card>
    <v-card-title>
      <v-combobox
        v-model="select"
        :items="Object.keys(drops)"
        label="select field"
        single-line
        hide-details
      ></v-combobox>
      <v-spacer></v-spacer>
      <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-dialog v-model="editdialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn class="teal darken-2" dark small v-on="on" fab> <v-icon>add</v-icon></v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <!-- Last Name
                          First Name
                          Middle Name
                          Nick Name
                          Complete Name
                          Prefix
                          Suffix
                          Sex -->
                <v-flex xs12 sm6 md4>
                  <v-text-field label="Last Name"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field label="First Name"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field label="Middle Name"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md8>
                  <v-text-field label="Complete Name"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field label="Department"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card-title>
    <v-data-table :headers="headers" :items="filter">
      <template v-slot:items="props">
        <td>{{ props.item }}</td>
        <td>
          <v-icon class="mr-2" @click="editItem(props.item)">
            edit
          </v-icon>
          <v-icon @click="deleteItem(props.item)">
            delete
          </v-icon>
        </td>
      </template>
      <template v-slot:no-results>
        <v-alert :value="true" color="error" icon="warning"> Your search for "{{ search }}" found no results. </v-alert>
      </template>
    </v-data-table>
  </v-card>
</template>
<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      editdialog: false,
      formTitle: '',
      select: 'LOCATION',
      search: '',
      headers: [
        {
          align: 'left',
          sortable: false,
          text: 'Value',
        },
        { text: 'Actions', value: 'name', sortable: false },
      ],
      drops: {
        ITEM_CODE: [
          '24 Placer Centrifuge',
          'Access 2',
          'Access 2E',
          'Access Classic',
          'ACL 100',
          'ACL 200',
          'ACL 6000',
          'ACL 7000',
          'ACL 9000',
          'ACL ELite Pro',
          'ACL Top 300',
          'ACL Top 350',
          'ACL Top 500',
          'AcT 10',
          'AcT 5',
          'AcT Diff',
          'Allegra X5 Centrifuge',
          'Aris 2X',
          'AU 480',
          'AU 680',
          'AU400',
          'Automate 800',
          'AY 400',
          'BC Robo-8000RFID',
          'CL Analyzer',
          'CX 3',
          'CX 4',
          'CX 5',
          'CX 7',
          'CX 9',
          'Dirui CS 130B',
          'DR-7000D ',
          'DxC 600',
          'DxC 600i',
          'DxC 700',
          'DxC 800',
          'DxC 860i',
          'DxH 500',
          'DxH 520',
          'DxH 800',
          'DxH 900',
          'DxH SMS',
          'Dxi 600',
          'Dxi 800',
          'FC500',
          'Frontline Focus',
          'FUS-100',
          'FUS-200',
          'GEM 3000',
          'Gem 3500',
          'Gem 4000',
          'Gem 5000',
          'Gem OPL System',
          'Gem PCL Plus',
          'H-100',
          'H-500',
          'H-800',
          'HmX',
          'Ilab 300',
          'Ilab Aries',
          'Ilyte NA/K/Ca/PH',
          'Ilyte NA/K/CL',
          'Immage',
          'Immage 800',
          'IRICELL 2000',
          'IRICELL 3000',
          'LH 500',
          'LH 750',
          'LH 780',
          'LH SlideMaker',
          'LH SlideStainer',
          'LX 20',
          'LXi 725',
          'Power Processor Track',
          'Prince SP400 POCT Analyzer',
          'Randox Molecular',
          'Spinchron DLX Centrifuge',
          'STKS',
          'T 540',
          'TQ-Prep Workstation',
          'VersaTrek',
          'Vision ESR',
          'WA40 Plus',
          'Yhlo-Immunofluorescence',
        ],
        LOCATION: [
          'A & K Clinical Lab',
          'Acculab Medical  System Inc.',
          'ACE Medical Center - Pateros',
          'Adela Serra Ty Memorial Medical Center',
          'Adventist Medical Center - Davao',
          'Adventist Medical Center - Iligan',
          'Adventist Medical Center - Valencia',
          'Adventist Univeristy of the Philippines',
          'AFP Medical Center',
          'AJ Maximo',
          'Alabang Medical Clinic',
          'Alabang Medical Clinic - Almanza',
          'Alabang Medical Clinic - Main',
          'Alabang Medical Clinic - Muntinlupa',
          'Alabang Medical Clinic - Talon',
          'Alfonso Specialist',
          'Alfredo Maranon Memorial District Hospital',
          'Allegiant Regional Care Hospital',
          'Amai Pak Pak Medical Center',
          'Amang Rodriguez Hospital',
          'Anda Riverview Medical Center Inc.',
          'Antique Medical Center',
          'Ardi Health Services, Inc.',
          'Armed forces & Police Mutual  Benefits Association Inc.',
          'Asia Medic Family Hospital & Medical Center',
          'Asian Hospital Medical Center',
          'Auguis Clinic and Hospital',
          'Bacolod Adventist Medical Center',
          'Bacolod Diagnostic Center',
          'Baguio General Hospital & Medical Center',
          'Balayan Bayview Medical Center',
          'Balayan Medical Clinic & Laboratory Services',
          'Bansalan Diagnostic Laboratory',
          'Batangas Clinical Laboratory',
          'Bauan Doctors Hospital',
          'Bauan General Hospital',
          'Bejasa General Hospital',
          'Bernardino General Hospital',
          'Bethel Baptist Hospital, Inc.',
          'Bicol Cardio Vascular Diagnostic Center',
          'Bicol Regional Training and Teaching Hospital',
          'Binalbagan Medical Laboratory',
          "Binan Doctor's Hospital",
          'Biosite Medical Instruments',
          'Bishop Joseph Regan Memorial Hospital',
          'Blood Works Inc',
          'BMI- Acculab Medical System, Inc.',
          'BMI- Adela Serra Ty Memorial Medical Center',
          'BMI- Central Laboratory',
          'BMI- City Health Office Surigao',
          'BMI- Ciudad Medical Zamboanga',
          'BMI- DR. ARTURO PINGOY MEDICAL CENTER',
          'BMI- Health Precision Diagnostics Laboratory',
          'BMI- Jose C. Catolico Sr. Puericulture Family Planning & Maternity Center Inc.',
          'BMI- Lab ng Bayan',
          'BMI- Madrid District Hospital',
          'BMI- Mediquest Hospital',
          'BMI- Metro Davao Research and Medical Center',
          'BMI- Miranda Family Hospital',
          'BMI- MUNICIPALITY OF TUPI HOSPITAL',
          'BMI- Philippine National Red Cross - GenSan',
          'BMI- San Francisco Doctors Hospital, Inc.',
          'BMI- San Pedro Hospital',
          'BMI- Socomedics Medical Center',
          'BMI- St. Elizabeth Hospital, Inc.',
          'BMI- Tacloban Doctors Hospital',
          'Brent Hospital & Colleges Inc.',
          'Brokenshire Hospital Integrated Health Ministries, Inc.',
          'BSSHC Social Hygiene',
          'Bukidnon Provincial Hospital',
          'Bukidnon Provincial Hospital (Manolo Fortich)',
          'Bukidnon Provincial Hospital (Maramag)',
          'Bulacan Medical Mission Group',
          'Butuan Doctors Hospital',
          'C. P. Reyes Hospital',
          'Cabadbaran Diagnostic Center',
          'Cadiz District Hospital',
          'Cagayan de Oro Medical Center',
          'Cagayan Valley Adventist Hospital',
          'Cagayan Valley Medical Center',
          'Capitol University Medical Center',
          'Carascal Rural Health Unit',
          'Card Inc. ',
          'Card Mutual Benefit',
          'Carmona Hospital and Medical Center',
          'Cauayan Health Center',
          'Cebu Doctors University Hospital',
          'Centralab Diabetes Wellness Heart & Kidney Inc.',
          'Cherubim Diagnostic and Animal Bite Center',
          'Chinese General Hospital and Medical Center',
          'City Health Office - Malaybalay',
          'City Health Office of Dagupan',
          'Colegio de San Agustin Laboratory',
          'Community General Hospital',
          'Corazon Locsin Montelibano Memorial Regional Hospital',
          'Cortes Community Hospital',
          'Cotabato Provincial Hospital',
          'Dagupan Doctors Villaflor Memorial Hospital',
          'Davao Del Norte District Hospital',
          'Davao Doctors Hospital',
          'Davao Medical School Foundation',
          'Davao Mediquest Hospital, Inc.',
          'Davao Medworld Diagnostic Company',
          'Davao Regional Medical Center',
          'De La Salle University Medical Center',
          'Delos Santos Medical Center',
          'Department of National Defense',
          'Diatech Laboratory Supplies Co.',
          'Digos Doctors Hospital',
          'DISPOSED',
          'Divine Mercy Wellness Center',
          'Dominican Hospital, Inc. Digos',
          'Don Carlos Hospital',
          'DR. ARTURO PINGOY MEDICAL CENTER',
          'Dr. Fe Del Mundo Medical Center',
          'Dr. Jose N. Rodriguez Memorial Hospital',
          'Dr. Uy Hospital',
          'East Avenue Medical Center',
          'Eastern Visayas Regional Medical Center',
          'Emil Joana Hospital',
          'Emilio Aguinaldo College Medical Center',
          'Escalante District Hospital',
          'Eversley Child Sanitarium & Hospital',
          'F.Y Manalo Medical Found, Inc. - New Era General Hospital',
          'Fairview Clinical Health Center',
          'Fardan Medical Solutions',
          'Fatima University Medical Center - Antipolo',
          'Fatima University Medical Center - Valenzuela',
          'FEU Hospital Medical Center',
          'Forth Del Pilar Station Hospital',
          'Gat Andres Bonifacio Medical Center',
          'Gat Andres Hospital',
          'Gatchalian Hospital',
          'Gensan Medical Center',
          'Gensens, Inc.',
          'Gingoog Sanitarium Hospital',
          'Gloree Biomedical Care',
          'Gold Standard Diagnostic Laboratory Corporation',
          'Golden Gate General Hospital',
          'Health Centrum Hospital',
          'Health Protect, Inc. - Caloocan',
          'Healthmed Diagnostic',
          'Healthmed Diagnostic Corporation',
          'Healthscreen Clinical Laboratory',
          'Healthscreen Clinical Laboratory - La Paz',
          'Healthscreen Clinical Laboratory - San Miguel',
          'Healthserv Los Banos, Inc',
          'Heart and Lung Diagnostic Clinic',
          'Hinatuan District Hospital',
          'Holy Infant Clinic',
          'Holy Rosary Hospital',
          'Holy Trinity Medical Clinic and Hospital',
          'Hospital of the Infant Jesus',
          'Ignacio Arroyo Sr. Memorial District Hospital',
          'Iloilo Doctors Hospital',
          'Iloilo Mission Hospital',
          'Imus Family Hospital',
          "Indigenous People's Foundation of Diocese of Bayombong",
          'Isabela Doctors General Hospital',
          'Jesus of Nazareth',
          'Jesus of Nazareth Hospital',
          'Jose C. Catolico Sr. Puericulture Family Planning & Maternity Center Inc.',
          'Justice Jose Abad Santos General Hospital',
          'Kairos Maternity & General Hospital',
          'Kamuning Health Center',
          'Klinika Bernardo',
          'Klinika Nova',
          'Koronadal Diagnostic Center',
          'Laguna Health Service Cooperative',
          'Las Pinas City  Medical Center',
          'LAS PINAS CITY MEDICAL CENTER',
          'Lexas Medical Laboratory',
          'LGU-Sto. Tomas',
          'Liceo De Cagayan University Laboratory',
          'Lingig District Hospital',
          "Los Banos Doctor's Hospital",
          'Lu Medical and Diagnostic Clinic',
          "Lucena United Doctor's Hospital",
          'Luna Goco Medical Center',
          'Lung Center of the Philippines',
          'Luzon Medical Center',
          'Ma. Estrella General Hospital',
          'Mabini General Hospital',
          'Mactan Doctors Hospital',
          'Mactan Medical and Dental Center',
          'Madrid District Hospital',
          'Makati Medical Center',
          'Mandaue Diagnostics Supply Co.',
          'Manila East Medical Center',
          'Manila Health Department',
          'Manila Medical Center',
          'Marihatag District Hospital',
          'Marikina Valley Medical Center',
          'Martinez Memorial Hospital',
          'Mary Johnston Hospital',
          'Mary Mediatrix Medical Center',
          'Mayor Hilarion A. Ramiro Sr. Regional Training and Teaching Hospital (MHARSTT)',
          'MCU-FDT Medical Foundation',
          'Medallion - Diagnostic Lab.',
          'Medical Associates Diagnostics',
          'Medical Center Paranaque',
          'Medical Center Taguig',
          'Medical Center Western Batangas',
          'Medilink Services, Inc.',
          'Medina General Hospital',
          'Mercy Community Hospital',
          'Merges Diagnostic Laboratory',
          'Metro Iloilo Hospital and Medical Center',
          'Metro Lemery Medical Center',
          'Metro North Hospital',
          'Metro Urdaneta Specialist Medical Diagnostic Center',
          'Metropolitan Hospital-Nasugbu',
          'Metropolitan Medical Center',
          'Metropolitan Medical Center - Sattelite Clinic',
          'MHO Asuncion Clinical Lab',
          'Miag-ao Health Cooperative',
          'Midway Hospital',
          'MJ Santos Hospital',
          'Mlang Doctors',
          'MMG - Bohol',
          'Morong Doctors Hospital',
          'Mother Teresa of Calcutta Medical Center',
          'Mt. Carmel Diocesan Hospital',
          'Mt. Sinai Hospital',
          'Municipality of Man Ticao Health',
          'Naic Doctors Hospital',
          'National Center for Mental Health',
          'National Kidney and Transplant Institute',
          'Nazareth General Hospital',
          'New World Laboratory',
          'Nonato Multi Specialist and Diagnostics',
          'North General Hospital - Cebu',
          'Northern Mindanao Medical Center',
          'Notre Dame de Charters Hospital',
          'Notre Dame Hospital',
          'Nuestra Senora Delos Angeles General Hospital',
          'Nueva Vizcaya Provincial Hospital',
          'Ocampo Hospital',
          'Occupational Safety and Health Center',
          'Olivarez General Hospital',
          'Olongapo Healthcare Specialists',
          'Ordonez Medical Hospital',
          'Ormoc Doctors Hospital',
          'Ospital ng Makati',
          'Ospital ng Malabon',
          'OSPITAL NG MAYNILA',
          'Ospital ng Muntinlupa',
          'Ospital ng Palawan',
          'Ospital ng Paranaque',
          'Ospital ng Sampaloc',
          'Ospital ng Tondo',
          'Ospital Ning Angeles',
          'Our Lady of Lourdes Hospital',
          'Our Lady of Peace Medical Center',
          'Our Lady of Pillar Medical Center',
          'Pagadian Community Hospital',
          'Pagsanjan Medical Clinic, Inc.',
          'PAL-Clinical Laboratory',
          'Pampanga Medical Specialist Hospital',
          'Pampanga Premier Medical Center',
          'Pampanga Premier Medical Specialist',
          'Panabo City Health Office',
          'Panabo Polymedic Hospital',
          'Pangasinan Medical Center',
          'Paranaque Doctors Hospital',
          'PERPETUAL MEDICAL MULTI-SPECIALTY & DIAGNOSTIC',
          'Perpetual Succour Hospital',
          'Peter Paul Medical Center',
          "Philippine Children's Medical Center",
          'Philippine General Hospital - CL',
          'Philippine General Hospital - MRL',
          'Philippine General Hospital - OPD',
          'Philippine General Hospital – Pulmo',
          'Philippine Heart Center',
          'Philippine National Red Cross',
          'Philippine National Red Cross Manila',
          'Philippine Red Cross – Eastern Samar',
          'Philippine Tuberculosis Institute',
          'Pinamalayan Doctors Hospital',
          'Pioneer Clinical Laboratory',
          'Preans Enterprises',
          'Premier 101 Healthcare Management',
          'Premier Diagnostic and Health Services Inc.',
          'Project 4 Health Center',
          'Providence Hospital',
          'Qualicare Diagnostic Laboratory & Clinic',
          'Qualimed - Altaraza',
          'Qualimed Hospital - Iloilo',
          'Quality Diagnostic Center',
          'Queen Mary Help of Christian',
          'Quest Care Laboratory Supply',
          'Quezon City Health',
          'Quickhealth Diagnostics and Dru',
          'RA Essentials Marketing',
          'RACEMED ENTERPRISES',
          'RBJ Comtrex',
          'Real Medical & Diagnostic Laboratory',
          'Real Medical Laboratory',
          'Research Institute for Tropical Medicine (RITM)',
          'RHU - New Corella Laboratory',
          'RHU Kapalong Clinical Laboratory',
          'Riverside Medical Center',
          'RTR Remedios Trinidad Romualdez Hospital',
          'Sacred Heart Hospital',
          'Samson Health Center',
          'San Carlos Doctors Hospital',
          'San Jose Laboratory Services',
          'San Juan Medical Center',
          'San Lazaro Hospital',
          'San Miguel Community Hospital',
          'San Miguel Diagnostics',
          'San Pablo Colleges Medical Center',
          'San Pedro College Inc',
          'San Pedro Hospital, Inc. ',
          'Scientific Biotech Specialties, Inc.',
          'Seamens Hospital',
          'Semirara Mining & Power Corporation',
          'Silay Diagnostics',
          'Socomedics Medical Center',
          'Sorsogon Medical Mission Group Hospital',
          'South Cotabato Provincial Hospital',
          'South Davao Medical Specialist',
          'South General Hospital',
          'South Super Highway Medical Center',
          'South Super Highway Medical Center - Cruz Rabe General Hospital',
          'South Super Highway Medical Center - Primecare Medical',
          'Southern Isabela General Hospital',
          "Southern Negros Doctor's Hospital",
          'Southern Philippines Medical Center',
          'Sr. Sto. Nino Hospital',
          'Sr. Sto. Nino Satelite Clinic',
          'SRDL Medical Clinic and Pharmacy',
          'St. Anthony College of Roxas City',
          'St. Anthony Mother & Child Hospital',
          'St. Dominic Medical Center',
          'St. Elizabeth Hospital Inc.',
          'St. Frances of Cabrini Medical Center',
          'St. John Biocare and Dialysis',
          'St. Jude General Hospital',
          'St. Louis University Hospital',
          "St. Luke's Medical Center-Global City",
          "St. Luke's Medical Center-Quezon City",
          'St. Pascal de Baylon Hospital',
          'St. Paul Hospital - Iloilo',
          'St. Paul Hospital - Tuguegarao',
          'St. Paul University Hospital - Surigao',
          'Sta. Ana Hospital',
          'Sta. Rosa Hospital & Medical Center',
          'Standford Medical and Diagnostic Clinic',
          'Sto. Rosario  Hospital',
          'SUNFU SOLUTION INC.',
          'Taal Polymedic Medical Center',
          'Tacloban Doctors Hospital',
          'Tagaytay Medical Center',
          'Tagum City Health Office',
          'Tanza Family Hospital',
          'Tayabas Community Hospital, Inc.',
          'Teresita Lopez Jalandoni Provincial Hospital',
          "The Doctor's Clinic and Hospital, Inc.",
          'The Health Centrum, Inc.',
          'The Medical City',
          'The Medical City - Iloilo',
          'The Medical City of South',
          'The Premier Medical Center',
          'Toro Hills Health Center',
          'Transglobal',
          'Transnational Medical and Diagnostic Center, Inc.',
          'Trimed Med-Mother Seaton',
          'Triptors Drug Test & Neuro Psychiatric Testing Center & Diagnostic Lab.',
          'UERMMMC',
          'Unciano Medical Center',
          'Unihealth Paranaque Hospital',
          'Unihealth Southwoods Hospital and Medical Center',
          'United Candelaria Doctors Hospital',
          'United Diagnostics Laboratory',
          "United Doctor's Medical Center",
          'University of Cebu Medical Center',
          'University of Immaculate Conception',
          'University of Mindanao Multitest & Diagnostic Center',
          'University of Perpetual Help - Binan',
          'University of Perpetual Help - Las Pinas',
          'University of South Mindanao Hospital',
          'University of Sto. Tomas Hospital',
          'Urgent Care Diagnostic Center',
          'V & P Family - Diagnostics Center',
          'Valenzuela City Emergency Hospital',
          'Valenzuela City Health Office',
          'Valeriano Gatuslao District Ho',
          'Valladolid District Hospital',
          'Veterans Memorial Medical Center',
          'Veterans Regional Hospital',
          'Victor R. Potenciano Medical Center',
          'Victorias City Health Clinic Laboratory',
          'Villaba RHU',
          'Visayas Community Medical Center',
          'Wellpoint - Dasmarinas',
          'Wellpoint Medical Clinic & DIagnostic Center - Bacoor',
          'Western Mindanao Medical Center',
          'Western Visayas Medical Center',
          'Westlake Medical Center',
          'WH - ARGO',
          'WH - DVO',
          'WH - MNL',
          'World Citi Medical Center',
          'Zaec Community Medical Center',
          'Zamboanga Del Sur Medical Center',
          'Zamboanga Doctors Hospital',
          'ZCV Diagnostic Laboratory',
        ],
        PRODUCT_CLASS: [
          'ACCESSORY',
          'BLOODGAS',
          'CH-BCI',
          'CH-DR',
          'CH-IL',
          'CH-SPCL',
          'CM-BCI',
          'CM-DR',
          'COAGULATION',
          'FLOWCY',
          'HEMATOLOGY',
          'IL ELECTROLYTE',
          'IMMUNOCHEM',
          'IMMUNOLOGY',
          'MICROBIOLOGY',
          'PRE-ANALYTICS',
        ],
        THRU: [
          'ALMIGHTY MEDICAL SUPPLY',
          'AMKA',
          'AMROX ',
          'BIOMED',
          'BIOSITE',
          'BIOSPECTRA',
          'BPS',
          'CLINLAB',
          'CLINSOR',
          'DAL-B',
          'Davao Medworld',
          'DIATECH',
          'DISPOSED',
          'FARDAN',
          'GENESIS',
          'GENUS',
          'GRET',
          'HOSPIMED',
          'JERR',
          'JMED',
          'LIVESTREAM',
          'MANDAUE',
          'MDMPI',
          'Mount Grace',
          'NUIT BLANCHE',
          'One Health',
          'QUESTCARE',
          'RBJ',
          'SERO',
          'TRIOMED',
          'VITALINE',
        ],
        PRINCIPAL: ['BCI', 'DIRUI', 'IL', 'MEDSYS', 'OTHERS', 'RANDOX', 'TECHNO', 'TREK', 'YHLO'],
        SUPPLIER: [
          'Beckman Coulter HongKong LTD.',
          'Block Scientific',
          'Diamond Diagnostics, Inc.',
          'DIRUI INDUSTRIAL CO., LTD.',
          'Dong-a Pharm. Co. Ltd.',
          'Instrumentation Laboratory',
          'LIFE MEDICAL EQUIPMENT',
          'Medicalsystem Biotechnology Co. Ltd.',
          'MYCO. Instrumentation Source.',
          'PCL Holdings',
          'Remel Inc',
          'Shenzen Yhlo Biotech Co. Ltd.',
          'St. Elizabeth Hospital Inc.',
          'Techno Medical Co. Ltd',
          'TREK DIAGNOSTIC SYSTEMS LTD',
          'WERFEN Hong Kong Ltd.',
        ],
        STATUS: [
          'BNEW',
          'DEMO',
          'DISPOSAL',
          'DISPOSED',
          'DONATED',
          'EVALUATION',
          'INSTALLED',
          'PARKED',
          'PS TESTING',
          'REHAB',
          'RTG',
          'SOLD',
          'UNUTILIZED',
        ],
        BN_R: ['BRAND NEW', 'REFURB'],
        SERVC_TEAM: ['Central', 'DST', 'Mindanao', 'North', 'South', 'Visayas'],
        SECTOR: ['GOVERNMENT', 'PRIVATE'],
        SAGMT: ['PURCHASED', 'TIE-UP'],
      },
    }
  },
  //   BMI- DR. ARTURO PINGOY MEDICAL CENTER
  // DR. ARTURO PINGOY MEDICAL CENTER
  // LAS PINAS CITY MEDICAL CENTER
  // RACEMED ENTERPRISES
  // SUNFU SOLUTION INC.
  computed: {
    ...mapState([]),
    filter() {
      return this.drops[this.select].filter(drop => {
        return drop.toLowerCase().includes(this.search.toLowerCase())
      })
    },
  },
}
</script>

<style></style>
