<template>
  <div class="text-xs-center">
    <v-dialog v-model="diag" width="950" lazy>
      <template v-slot:activator="{ on }">
        <v-btn color="accent" v-on="on" fab small dark @click="getData()">
          <v-icon>history</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-toolbar color="green lighten" flat dark dense>
          <v-toolbar-title>Movement History</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <div class="title text-xs-left font-weight-medium">{{ dsc }}</div>
          <div class="subheading text-xs-left font-weight-light pb-2">{{ sn }}</div>
          <v-data-table
            :headers="headers"
            :items="items"
            hide-actions
            :pagination.sync="pagination"
            class="elevation-1"
          >
            <template v-slot:items="props">
              <td class="text-xs-left">{{ formatDate(props.item.chgDate, 'll') }}</td>
              <td class="text-xs-left">{{ formatDate(props.item.RTG_DATE, 'll') }}</td>
              <td class="text-xs-left">{{ formatDate(props.item.DR_STS_DATE, 'll') }}</td>
              <td class="text-xs-left">{{ props.item.STATUS }}</td>
              <td class="text-xs-left">{{ props.item.LOCATION }}</td>
              <td class="text-xs-center">{{ props.item.chgBy }}</td>
            </template>
          </v-data-table>
          <div class="text-xs-center pt-2">
            <v-pagination v-model="pagination.page" :length="pages" :total-visible="5"></v-pagination>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import moment from 'moment'
export default {
  data() {
    return {
      diag: false,
      tab: null,
      text: '',
      items: [],
      pagination: {
        descending: true,
        page: 1,
        rowsPerPage: 5,
        sortBy: 'chgDate',
      },
      headers: [
        { text: 'UPDATE DATE', align: 'left', value: 'chgDate', width: '20%' },
        { text: 'RTG', align: 'left', value: 'RTG_DATE', width: '20%' },
        { text: 'STS', align: 'left', value: 'DR_STS_DATE', width: '20%' },
        { text: 'STATUS', align: 'left', value: 'STATUS', width: '10%' },
        { text: 'LOCATION', align: 'left', value: 'LOCATION', width: '20%' },
        { text: 'UPDATED BY', align: 'center', value: 'chgBy', width: '10%' },
      ],
    }
  },
  computed: {
    pages() {
      return Math.floor(this.items.length / 5) + (this.items.length % 5 == 0 ? 0 : 1)
    },
  },
  props: {
    id: Number,
    sn: String,
    dsc: String,
  },
  methods: {
    ...mapActions(['getLogByInstId']),
    formatDate(date, format) {
      const res = moment(date, ['MM-DD-YYYY', 'YYYY-MM-DD']).format(format)
      return res == 'Invalid date' ? '' : res
    },
    getData() {
      this.getLogByInstId(this.id)
        .then(res => {
          this.items = res.data
        })
        .catch()
    },
  },
}
</script>

<style></style>
