<template>
  <v-menu transition="slide-y-transition" bottom left offset-y>
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" small flat icon color="teal lighten-5">
        <v-icon>account_circle</v-icon>
      </v-btn>
    </template>
    <v-list dense>
      <v-list-tile @click="/* eslint-disable-next-line vue/valid-v-on */">
        <app-chg-pass></app-chg-pass>
      </v-list-tile>
      <v-list-tile @click="logout()">
        <v-list-tile-title class="text-xs-right">Logout</v-list-tile-title>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>

<script>
import Cookies from 'js-cookie'
import AppChgPass from './chg_pass.vue'
import { mapState } from 'vuex'
export default {
  data() {
    return {
      chngpass: false,
      chngpass1: false,
    }
  },
  computed: {
    ...mapState(['userDetails']),
  },
  methods: {
    logout() {
      Cookies.remove('token', { path: '/' })
      Cookies.remove('user_details', { path: '/' })
      Cookies.remove('user_credentials', { path: '/' })
      this.$router.go({ name: 'Login' })
    },
  },
  components: {
    AppChgPass,
  },
}
</script>

<style></style>
