<template>
  <v-menu transition="slide-y-transition" bottom left offset-y>
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" small flat icon color="teal lighten-5">
        <v-icon>get_app</v-icon>
      </v-btn>
    </template>
    <v-list dense>
      <template v-for="(item, i) in items">
        <v-list-tile v-if="userCredentials.RPTS.indexOf(item.title) >= 0" :key="i" @click="report(item.title)">
          <v-list-tile-title class="text-xs-right">{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </template>
    </v-list>
  </v-menu>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  data() {
    return {
      items: [
        { title: 'ALL DATA' },
        { title: 'TSG Report' },
        { title: 'Inventory Report' },
        { title: 'IB per Account' },
      ],
    }
  },
  created() {
    // console.log(this.userCredentials.RPTS[0])
  },
  computed: {
    ...mapState(['userCredentials']),
  },
  methods: {
    ...mapActions(['getCSV', 'getCSVperAcc', 'getSTSAge', 'getInvRpt', 'getTSGrpt']),
    report(repo) {
      switch (repo) {
        case 'ALL DATA':
          this.getCSV()
          break

        case 'IB per Account':
          this.getCSVperAcc()
          break

        case 'Inventory Report':
          this.getInvRpt()
          break

        case 'TSG Report':
          this.getTSGrpt()
          break

        default:
          break
      }
    },
  },
}
</script>

<style></style>
