<template>
  <v-card class="text-xs-center" width="100%">
    <v-toolbar dense dark color="light-green darken-3">
      <v-toolbar-title class="title">{{ title }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn dark flat @click="save_click()" class="subheading">Save</v-btn>
        <v-divider></v-divider>
        <v-btn dark flat @click="close_click()" class="subheading">Close</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-container py-3 pl-5 pr-0 fluid>
      <v-layout v-for="(item, i) in item_prop" :key="i" align-center justify-start row>
        <v-flex v-for="col in item" :key="col.label" :class="col.pos" px-2 py-0>
          <template v-if="col.type == 'date'">
            <app-date-picker
              v-model="addEditData[col.elm]"
              :readonly="col.readonly"
              :disabled="title == 'Edit Instrument' && userCredentials[col.elm] == 1"
              :label="col.label"
            ></app-date-picker>
          </template>
          <template v-else-if="col.type == 'select'">
            <v-autocomplete
              v-model="addEditData[col.elm]"
              :label="col.label"
              :readonly="col.readonly"
              :box="col.readonly"
              :disabled="title == 'Edit Instrument' && userCredentials[col.elm] == 1"
              :items="drops[col.elm]"
              placeholder=" "
              clearable
            ></v-autocomplete>
          </template>
          <template v-else-if="col.type == 'computed'"></template>
          <template v-else>
            <v-text-field
              :readonly="col.readonly"
              :box="col.readonly"
              :disabled="title == 'Edit Instrument' && userCredentials[col.elm] == 1"
              v-model="addEditData[col.elm]"
              :label="col.label"
              placeholder=" "
            ></v-text-field>
          </template>
          <!-- <app-label :header="col.label" :detail="data[col.elm]"></app-label> -->
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
import AppDatePicker from './DatePicker.vue'
export default {
  data() {
    return {
      dialog: false,
      teams: [],
      location: '',
    }
  },
  created() {
    if (Object.keys(this.drops).length == 0) {
      this.getDropDowns()
    }
  },
  props: {
    title: String,
  },
  computed: {
    ...mapState(['drops', 'addEditData', 'item_prop', 'userCredentials']),
    datenow() {
      return new Date().toISOString().substr(0, 10)
    },
  },
  methods: {
    ...mapActions(['getDropDowns', 'postInstrumentData', 'patchInstrumentData']),
    ...mapMutations(['upAddEditData']),
    // showDtl(data) {
    //   console.log(data)
    // },
    save_click() {
      this.postInstrumentData()

      this.$emit('close', false)
    },
    close_click() {
      this.$emit('close', false)
      this.upAddEditData(this.addEditData)
    },
    formatDate(date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${month}/${day}/${year}`
    },
  },
  components: {
    AppDatePicker,
  },
  watch: {
    dialog(newVal) {
      if (newVal) {
        for (const key in this.details) {
          console.log(this.details[key])
          this.addEditData[key] = this.details[key] == '-----' ? '' : this.details[key]
        }
      }
    },
    data() {
      this.$emit('input', this.data)
    },
    'addEditData.STATUS': function(newVal) {
      this.addEditData.THRU = this.addEditData.THRU == 'DISPOSED' ? '' : this.addEditData.THRU
      this.addEditData.DIRECT_DEALER =
        this.addEditData.DIRECT_DEALER == 'DISPOSED' ? '' : this.addEditData.DIRECT_DEALER
      switch (newVal) {
        case 'DISPOSED':
          this.addEditData.CODE = 'INACTIVE'
          this.addEditData.THRU = 'DISPOSED'
          this.addEditData.DIRECT_DEALER = 'DISPOSED'
          break

        case 'UNUTILIZED':
          this.addEditData.CODE = 'INACTIVE'
          break

        case 'RETIRE':
          this.addEditData.CODE = 'INACTIVE'
          break

        case 'EVALUATION':
          this.addEditData.CODE = 'ASSESSMENT'
          this.addEditData.SECTOR = ''
          this.addEditData.RTG_DATE = ''
          break

        case 'SOLD':
          this.addEditData.CODE = 'UNKNOWN'
          break

        case '':
          this.addEditData.CODE = ''
          break

        case null:
          this.addEditData.CODE = ''
          break

        case undefined:
          this.addEditData.CODE = ''
          break

        default:
          this.addEditData.CODE = this.addEditData.STATUS !== '' ? 'ACTIVE' : ''
          break
      }
    },
    'addEditData.THRU': function(newVal) {
      switch (newVal) {
        case 'MDMPI':
          this.addEditData.DIRECT_DEALER = 'DIRECT'
          break

        case 'DISPOSED':
          this.addEditData.DIRECT_DEALER = 'DISPOSED'
          break

        case '':
          this.addEditData.DIRECT_DEALER = ''
          break

        case null:
          this.addEditData.DIRECT_DEALER = ''
          break

        case undefined:
          this.addEditData.DIRECT_DEALER = ''
          break

        default:
          this.addEditData.DIRECT_DEALER = 'DEALER'
          break
      }
    },
  },
}
// #UPDATE `tblitems` SET `LOCATION` = 'WH - ARGO' WHERE `LOCATION` = 'WH - DVO'
// UPDATE `tblitems` SET `LOCATION` = 'WH - DVO' WHERE `LOCATION` = 'WH - ARGO'
</script>
