<template>
  <v-content ref="search" class="light-light-green lighten-5 mb-3" style="margin-top: 55px;">
    <v-expansion-panel v-model="pageNum" popout>
      <v-expansion-panel-content
        :class="panel == i ? 'light-green lighten-5' : ''"
        v-for="(item, i) in instruments.data"
        :key="i"
        lazy
      >
        <v-icon slot="actions" color="primary">keyboard_arrow_down</v-icon>
        <!-- <div> -->
        <v-layout slot="header" d-flex row wrap fill-height align-center class="caption">
          <v-flex xs2 class="text-xs-left">
            <span> {{ item.PRODUCT_CLASS }} </span>
          </v-flex>
          <!-- <v-flex xs3>
            <span> {{ item.DESCRIPTION }} </span>
          </v-flex> -->
          <v-flex xs3>
            <span> {{ item.ITEM_CODE }} </span>
          </v-flex>
          <v-flex xs1>
            <span> {{ item.SERIAL_NO }} </span>
          </v-flex>
          <v-flex xs1>
            <span> {{ item.STATUS }} </span>
          </v-flex>
          <v-flex xs4>
            <span> {{ item.LOCATION }} </span>
          </v-flex>
          <v-flex xs1>
            <span> {{ item.THRU }} </span>
          </v-flex>
        </v-layout>
        <!-- </div> 924.547 -->
        <v-divider></v-divider>
        <item-details :show="dialog" @edit="edit_click($event)" :data="item"></item-details>
      </v-expansion-panel-content>
    </v-expansion-panel>
    <add-new-item
      v-if="['read/write', 'admin'].includes(userDetails.userlevel)"
      v-model="dialog.newItem"
      style="position: absolute;"
    ></add-new-item>
    <edit-item v-model="dialog.editItem"></edit-item>
  </v-content>
</template>

<script>
import ItemDetails from './ItemDetails.vue'
import AddNewItem from './AddNewItem.vue'
import EditItem from './EditItem.vue'
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
  data() {
    return {
      edit_items: {},
      dialog: {
        newItem: false,
        editItem: false,
      },
    }
  },
  watch: {
    srch_obj() {
      this.upPage(1)
      this.getInstruments()
    },
  },
  computed: {
    ...mapState(['instruments', 'panel', 'srch_obj', 'userDetails']),
    pageNum: {
      get() {
        return this.panel
      },
      set(newVal) {
        return this.upPanel(newVal)
      },
    },
  },
  methods: {
    ...mapActions(['getInstruments']),
    ...mapMutations(['upPage', 'upPanel', 'upAddEditData']),
    edit_click(data) {
      this.upAddEditData(data)
      // this.edit_items = data
      this.dialog.editItem = true
    },
  },
  components: {
    ItemDetails,
    AddNewItem,
    EditItem,
  },
}
</script>

<style>
.v-expansion-panel .v-expansion-panel__header .flex {
  text-align: center;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.v-expansion-panel .v-expansion-panel__header:hover {
  background-color: #f1f8e9;
}
</style>
