<template>
  <v-toolbar style="margin-top: 64px;" color="grey darken-3" dark dense app fixed flat>
    <v-card class="font-weight-bold" width="100%" color="transparent" flat>
      <v-layout id="sortHeaders" pl-4 pr-5 d-flex row wrap fill-height>
        <v-flex @click="sort('PRODUCT_CLASS')" xs2 class="text-xs-left">
          <span> PRODUCT LINE </span>
          <v-icon v-if="sortHead == 'PRODUCT_CLASS'" small>{{ icon }}</v-icon>
        </v-flex>
        <!-- <v-flex @click="sort('DESCRIPTION')" xs3>
          <span> DESCRIPTION </span>
          <v-icon v-if="sortHead == 'DESCRIPTION'" small>{{ icon }}</v-icon>
        </v-flex> -->
        <v-flex @click="sort('ITEM_CODE')" xs3>
          <span> ITEM CODE </span>
          <v-icon v-if="sortHead == 'ITEM_CODE'" small>{{ icon }}</v-icon>
        </v-flex>
        <v-flex @click="sort('SERIAL_NO')" xs1>
          <span> SN </span>
          <v-icon v-if="sortHead == 'SERIAL_NO'" small>{{ icon }}</v-icon>
        </v-flex>
        <v-flex @click="sort('STATUS')" xs1>
          <span> STATUS </span>
          <v-icon v-if="sortHead == 'STATUS'" small>{{ icon }}</v-icon>
        </v-flex>
        <v-flex @click="sort('LOCATION')" xs4>
          <span> LOCATION </span>
          <v-icon v-if="sortHead == 'LOCATION'" small>{{ icon }}</v-icon>
        </v-flex>
        <v-flex @click="sort('THRU')" xs1>
          <span> THRU </span>
          <v-icon v-if="sortHead == 'THRU'" small>{{ icon }}</v-icon>
        </v-flex>
      </v-layout>
    </v-card>
  </v-toolbar>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  data() {
    return {
      sortHead: 'PRODUCT_CLASS',
      icon: 'arrow_drop_up',
      asc: true,
    }
  },
  computed: {
    ...mapState(['sortBy']),
  },
  methods: {
    ...mapMutations(['upSort']),
    ...mapActions(['getInstruments']),
    sort(val) {
      this.sortHead = val
      if (this.sortBy.split(':')[0] == val) {
        this.asc = !this.asc
      } else {
        this.asc = true
      }
      this.upSort(`${val}:${this.asc_dsc()}`)
      this.getInstruments()
    },
    asc_dsc() {
      if (this.asc == true) {
        this.icon = 'arrow_drop_up'
        return 'ASC'
      } else {
        this.icon = 'arrow_drop_down'
        return 'DESC'
      }
    },
  },
}
</script>

<style>
#sortHeaders span {
  cursor: pointer;
}
#sortHeaders span:hover {
  text-decoration: underline;
}
</style>
