<template>
  <v-navigation-drawer width="300" @input="emit($event)" clipped :value="value" fixed class="grey lighten-4" app>
    <v-layout pa-0 justify-end row>
      <v-btn class="mb-0" small flat @click="refresh()">
        <v-icon>refresh</v-icon>
        Refresh
      </v-btn>
    </v-layout>
    <v-card min-height="80" color="transparent" class="mx-1 mt-1" flat>
      <auto-comp-box v-model="item" :items="all_filters.Array"></auto-comp-box>
    </v-card>

    <div>
      <v-list lazy dense>
        <!-- v-show="filter.length > 1" -->
        <v-list-group
          v-model="active_group[group]"
          v-for="(filter, group) in comp_filter.Object"
          v-show="filter.length > 0"
          :key="group"
          no-action
        >
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title class="body-1 font-weight-medium">
                {{ `${getGroupName(group)}` }}
                <span class="caption font-weight-regular">{{ `(${filter.length})` }}</span>
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
          <v-flex px-2 py-1>
            <v-text-field v-model="search[group]" placeholder="Filter" clearable hide-details append-icon="mdi-filter">
            </v-text-field>
          </v-flex>

          <v-list-tile
            v-for="(item, i) in filterSearch(filter, search[group])"
            v-show="item !== ''"
            :key="i"
            @click="click(`${item}|${group}`)"
          >
            <v-list-tile-action>
              <v-checkbox :value="active[group][item]" small color="blue lighten-1"></v-checkbox>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title active-class="green--text" class="caption">{{ item }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
      </v-list>
    </div>
  </v-navigation-drawer>
</template>

<script>
import AutoCompBox from './AutoCompBox'
import { mapState, mapMutations, mapGetters } from 'vuex'
export default {
  data() {
    return {
      search: {},
      prev_filter: {},
      active_group: {
        PRINCIPAL: false,
        PRODUCT_CLASS: false,
        ITEM_CODE: false,
        STATUS: false,
        THRU: false,
      },
      active: {
        PRINCIPAL: {},
        PRODUCT_CLASS: {},
        ITEM_CODE: {},
        STATUS: {},
        THRU: {},
      },
    }
  },
  props: {
    value: Boolean,
  },
  components: {
    AutoCompBox,
  },
  watch: {
    item(newval) {
      if (newval.length == 0) {
        this.prev_filter = {}
      }
      for (const key in this.active) {
        this.active[key] = {}
      }
      newval.forEach(element => {
        this.setActive(element, true)
      })
    },
  },
  computed: {
    ...mapState(['all_filters', 'cur_filters', 'srch_obj']),
    ...mapGetters(['getSrchItems']),
    item: {
      get() {
        return this.getSrchItems
      },
      set(newValue) {
        return this.upSrch(newValue)
      },
    },
    comp_filter() {
      if (this.item.length > 0) {
        const curFilterGrp = this.item[this.item.length - 1].split('|')[1]
        // let cur_fltr_arr = this.cur_filters.Array.filter(str => {
        //   return str.includes(topFltrGrp) == false
        // })
        // let all_fltr_arr = this.all_filters.Array.filter(str => {
        //   return str.includes(topFltrGrp)
        // })
        // cur_fltr_arr.push(all_fltr_arr[0])

        let cur_fltr_obj = this.cur_filters.Object
        if (Object.keys(this.prev_filter).length !== 0) {
          cur_fltr_obj[curFilterGrp] = this.prev_filter.Object[curFilterGrp]
        }

        this.item.forEach(elem => {
          let cur_val = elem.split('|')
          if (cur_val[1] !== curFilterGrp && !cur_fltr_obj[cur_val[1]].includes(cur_val[0])) {
            cur_fltr_obj[cur_val[1]].push(cur_val[0])
          }
        })

        this.upCurFilter({ Array: this.cur_filters.Array, Object: cur_fltr_obj })
        return { Array: this.cur_filters.Array, Object: cur_fltr_obj }
      } else {
        return this.all_filters
      }
    },
  },
  methods: {
    ...mapMutations(['upSrch', 'upSrchText']),
    upCurFilter(data) {
      this.prev_filter = data
    },
    filterSearch(data, text) {
      return data.filter(item => {
        if (text !== undefined && text !== null) {
          return item.toLowerCase().includes(text.toLowerCase())
        } else {
          return data
        }
      })
    },
    getGroupName(str) {
      return str == 'PRODUCT_CLASS'
        ? 'PRODUCT LINE'
        : str == 'DIRECT_DEALER'
        ? 'DIRECT/DEALER'
        : str == 'ITEM_CODE'
        ? 'ITEM CODE'
        : str
    },
    emit(val) {
      this.$emit('input', val)
    },
    setActive(key, val) {
      const keys = key.split('|')
      this.$set(this.active[keys[1]], keys[0], val)
    },
    click(key) {
      const keys = key.split('|')
      const newVal = !this.active[keys[1]][keys[0]]
      const newIndex = this.item.indexOf(`${keys[0]}|${keys[1]}`)

      this.setActive(key, newVal)
      if (newVal && newIndex == -1) {
        this.item.push(`${keys[0]}|${keys[1]}`)
        // setTimeout(() => {
        //   this.active_group[keys[1]] = false
        // }, 30)
      } else if (!newVal && newIndex > -1) {
        this.item.splice(newIndex, 1)
      }
      this.upSrch(this.item)
    },
    refresh() {
      this.prev_filter = {}
      this.search = {}
      this.upSrch([])
      this.upSrchText('')
      this.itmGrpClps()
    },
    itmGrpClps() {
      for (const key in this.active_group) {
        this.active_group[key] = false
      }
    },
  },
}
</script>

<style>
.v-list__group__items--no-action .v-list__tile {
  padding-left: 10px;
}
</style>
