<template>
  <v-footer class="primary lighten-1" :height="50" app inset>
    <v-container pa-0 fluid>
      <v-layout align-center row wrap pa-0>
        <v-flex xs3 text-xs-left pl-3>
          <span class="pa-1 elevation-2" style="background-color: white; border-radius:5px">
            Records found: {{ instruments.count }}
          </span>
        </v-flex>
        <v-flex class="layout justify-center" text-xs-right xs6>
          <v-pagination
            v-model="pageNum"
            color="green darken-4"
            :length="instruments.page_count == undefined ? 0 : instruments.page_count"
            :total-visible="9"
          ></v-pagination>
        </v-flex>
        <v-flex text-xs-right xs3 pr-3>
          <strong class="pa-1" style="border-radius: 5px; border: 2px white solid; background-color: black;">
            <span class="pa-1 white--text">MDMPI </span>
            <span style="border-radius: 4px;" class="orange lighten-1 px-1 black--text">IMS</span>
          </strong>
          &copy; {{ new Date().getFullYear() }}
        </v-flex>
      </v-layout>
    </v-container>
  </v-footer>
</template>

<script>
import { mapMutations, mapState, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState(['instruments', 'page']),
    pageNum: {
      // getter
      get() {
        return this.page
      },
      // setter
      set(newVal) {
        if (newVal !== this.page) {
          this.upPanel(-1)
          this.upPage(newVal)
          return this.getInstruments()
        }
      },
    },
  },
  components: {},
  methods: {
    ...mapMutations(['upPage', 'upPanel']),
    ...mapActions(['getInstruments']),
  },
}
</script>
