<template>
  <v-layout
    class="caption font-weight-regular text-uppercase"
    style="color: #616161"
    align-start
    justify-start
    column
    fill-height
    pa-2
  >
    <v-flex x12>
      {{ header }}
    </v-flex>
    <v-flex class="body-2 font-weight-bold pl-1 black--text text-xs-left" x12>
      {{ chk_undefined(detail) }}
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  methods: {
    chk_undefined(text) {
      if (text == undefined || text == '') {
        return ' ----- '
      } else {
        return text
      }
    },
  },
  props: {
    header: String,
    detail: String,
  },
}
</script>
