<template>
  <v-toolbar color="green" app fixed clipped-left>
    <!-- flat extended extension-height="49" -->
    <v-toolbar-side-icon @click="emit()"></v-toolbar-side-icon>
    <span class="title ml-3 mr-5 hidden-md-and-down">
      Instrument&nbsp;<span class="font-weight-light">Inventory</span>
    </span>
    <search-bar></search-bar>
    <!-- <v-spacer></v-spacer> -->
    <v-toolbar-items class="hidden-sm-and-down pl-2">
      <app-admin-sett v-if="userDetails.userlevel == 'admin'"></app-admin-sett>
      <app-menu-reports></app-menu-reports>
      <app-menu-profile></app-menu-profile>
      <!-- <v-btn small flat icon color="teal lighten-5">
        <v-icon>mdi-account-badge-horizontal-outline</v-icon>
      </v-btn> -->
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import SearchBar from './SearchBar.vue'
import AppMenuProfile from '../menus/profile.vue'
import AppMenuReports from '../menus/reports.vue'
import AppAdminSett from '../menus/adm_settings.vue'
import { mapState } from 'vuex'

export default {
  data() {
    return {}
  },
  components: {
    SearchBar,
    AppMenuProfile,
    AppMenuReports,
    AppAdminSett,
  },
  computed: {
    ...mapState(['userDetails']),
  },
  methods: {
    emit() {
      this.$emit('drawer')
    },
  },
}
</script>
