<template>
  <!-- v-model="filters" -->
  <v-autocomplete
    :value="value"
    @input="filters_chng"
    :items="items"
    chips
    color="blue-grey lighten-2"
    :search-input.sync="search"
    label="Filter"
    multiple
    hide-details
    dense
    outline
    box
    flat
    hide-selected
    small-chips
    tags
    ref="select"
  >
    <template v-slot:selection="data">
      <v-chip small :selected="data.selected" close class="chip--select-multi" @input="remove(data.item)">
        {{ data.item.split('|')[0] }}
      </v-chip>
    </template>
    <template v-slot:item="data">
      <v-list-tile-content class="py-1">
        <v-list-tile-title class="body-2" v-html="data.item.split('|')[0]"></v-list-tile-title>
        <v-list-tile-sub-title
          class="caption font-weight-light"
          v-html="data.item.split('|')[1].replace('_', ' ')"
        ></v-list-tile-sub-title>
      </v-list-tile-content>
    </template>
  </v-autocomplete>
</template>

<script>
export default {
  data() {
    return {
      filters: [],
      search: null,
    }
  },
  watch: {
    value(data) {
      this.filters = data
    },
    filters() {
      setTimeout(() => {
        this.$refs.select.isMenuActive = false
      }, 10)
    },
  },
  props: {
    items: Array,
    value: Array,
  },
  methods: {
    filters_chng(data) {
      this.search = ''
      this.filters = data
      this.emit_filters()
    },
    remove(item) {
      const index = this.filters.indexOf(item)
      this.filters.splice(index, 1)
      this.emit_filters()
    },
    emit_filters() {
      this.$emit('input', this.filters)
    },
  },
}
</script>

<style></style>
