<template>
  <v-dialog ref="dialog" transition="scale-transition" v-model="dialog" persistent lazy full-width width="290px">
    <template v-slot:activator="{ on }">
      <v-text-field
        append-outer-icon="event"
        v-model="FormattedDate"
        :label="label"
        @click:clear="clear()"
        readonly
        :disabled="disabled"
        placeholder=" "
        v-on="on"
        clearable
      ></v-text-field>
    </template>
    <v-date-picker :readonly="readonly" :value="date" @input="emit($event)" reactive scrollable>
      <v-spacer></v-spacer>
      <v-btn flat color="primary" @click="dialog = false">OK</v-btn>
    </v-date-picker>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      date: '',
    }
  },
  created() {},
  props: {
    value: String,
    label: String,
    readonly: { type: Boolean, default: false },
    disabled: { type: Boolean, default: false },
  },
  computed: {
    FormattedDate: {
      get() {
        return this.date == '' ? '' : this.formatDate(this.date)
      },
      set(newVal) {
        return (this.date = newVal)
      },
    },
  },
  watch: {
    value(newVal) {
      if (newVal == '' || newVal == undefined) {
        this.date = ''
      } else {
        this.date = newVal == '' ? '' : new Date(newVal + ' GMT +0').toISOString().substr(0, 10)
      }
    },
    dialog(newVal) {
      if (newVal && this.date == '') {
        this.date = new Date().toISOString().substr(0, 10)
      }
    },
  },
  methods: {
    clear() {
      this.$emit('input', '')
    },
    emit(value) {
      this.date = value
      this.$emit('input', this.formatDate(value))
    },
    formatDate(date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${month}/${day}/${year}`
    },
  },
}
</script>

<style></style>
