<template>
  <v-dialog :value="value" @input="close_dialog($event)" persistent>
    <app-add-edit-form title="Edit Instrument" @close="close_dialog($event)"></app-add-edit-form>
  </v-dialog>
</template>

<script>
import { mapMutations } from 'vuex'

import AppAddEditForm from './AddEditForm.vue'
export default {
  data() {
    return {}
  },
  created() {},
  watch: {},
  props: {
    value: {
      default: false,
      type: Boolean,
    },
  },
  computed: {},
  methods: {
    ...mapMutations(['clrAddEditData']),
    close_dialog(val) {
      this.clrAddEditData()
      this.$emit('input', val)
    },
  },
  components: {
    AppAddEditForm,
  },
}
</script>
