<template>
  <v-card class="text-xs-center" raised width="100%" color="light-green lighten-5">
    <v-container py-2 fluid>
      <v-layout row>
        <v-flex xs11>
          <v-layout v-for="(item, i) in item_prop" :key="i" align-center row>
            <v-flex :class="col.pos" v-for="col in item" :key="col.label" pa-0>
              <app-label v-if="col.type == 'computed'" :header="col.label" :detail="fromNow(data[col.elm])"></app-label>
              <app-label v-else :header="col.label" :detail="data[col.elm]"></app-label>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs1>
          <v-btn
            v-if="['read/write', 'edit', 'admin'].includes(userDetails.userlevel)"
            color="primary"
            fab
            small
            dark
            @click="click_edit()"
          >
            <v-icon>edit</v-icon>
          </v-btn>
          <app-history-diag :id="data.id" :sn="data.SERIAL_NO" :dsc="data.DESCRIPTION"></app-history-diag>
          <!-- <v-btn color="accent" fab small dark @click="">
            <v-icon>history</v-icon>
          </v-btn> -->
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
import AppLabel from './AppLabel.vue'
import AppHistoryDiag from '../menus/historyDialog.vue'
import { mapState } from 'vuex'
import moment from 'moment'

export default {
  data() {
    return {}
  },
  computed: {
    ...mapState(['item_prop', 'userDetails']),
  },
  props: {
    data: Object,
  },
  components: {
    AppLabel,
    AppHistoryDiag,
  },
  methods: {
    fromNow(date) {
      const datediff =
        moment()
          .diff(moment(date, 'MM/DD/YYYY'), 'months', true)
          .toFixed(2) + ''
      return datediff == 'NaN' ? '' : datediff
    },
    formatNumber(num) {
      return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    },
    click_edit() {
      this.$emit('edit', this.data)
    },
  },
}
</script>
