<template>
  <v-text-field
    v-model="search"
    solo-inverted
    flat
    hide-no-data
    hide-details
    @keydown.enter="updateContent()"
    hide-selected
    clearable
    label="Search"
    @click:clear="clearTxt()"
    prepend-inner-icon="search"
  ></v-text-field>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
  data() {
    return {
      search: '',
    }
  },
  watch: {
    search(newVal) {
      if (newVal == '' || newVal == undefined) {
        this.upSrchText(newVal)
      }
    },
  },
  computed: {
    ...mapState(['search_text']),
    // search: {
    //   get() {
    //     return this.search_text
    //   },
    //   set(newValue) {
    //     return this.upSrchText(newValue)
    //   },
    // },
  },
  methods: {
    ...mapActions(['getInstruments']),
    ...mapMutations(['upPage', 'upSrchText']),
    clearTxt() {
      this.search = ''
      this.updateContent()
    },
    updateContent() {
      this.upSrchText(this.search)
      this.upPage(1)
      this.getInstruments()
    },
  },
}
</script>

<style></style>
